/* ------------------------------------------------------------------------------------------
 * Rulepage                                                                                 |
 * ------------------------------------------------------------------------------------------
 */
#instruction {
    height: 40vh;
    width: max(40vw, 400px);
}

#rule-mainmenu-button {
    top: max(70vh, 200px);
}