/* ------------------------------------------------------------------------------------------
 * Stage selection page                                                                     |
 * ------------------------------------------------------------------------------------------
 */
#selection-area {
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    gap: 6px;
}

.stage-selection {
    display: flex;
    background: #80233e;
    border-radius: 13px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background 300ms linear;
}

.stage-selection:hover {
    background: #a33b59;
}

.clear {
    background: #4fa734;
}

.clear:hover {
    background: #58d235;
}

#stage-mainmenu-button {
    top: max(70vh, 200px);
}